.productsList,
.cart {
  background-color: #fff;
  box-sizing: border-box;
  width: 360px;
  height: 600px;
  box-shadow: 0 3.2px 2.2px rgba(0, 0, 0, 0.02),
    0 7px 5.4px rgba(0, 0, 0, 0.028), 0 12.1px 10.1px rgba(0, 0, 0, 0.035),
    0 19.8px 18.1px rgba(0, 0, 0, 0.042), 0 34.7px 33.8px rgba(0, 0, 0, 0.05),
    0 81px 81px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  overflow: hidden;
  padding: 0 28px;
  position: relative;
  margin-bottom: 20px;
}

.productsList::before,
.cart::before {
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #f6c90e;
  top: -20%;
  left: -50%;
  z-index: 0;
}

.productsList .icon,
.cart .icon {
  margin: 12px 0;
  position: relative;
}

.productsList .icon img,
.cart .icon img {
  display: block;
  width: 50px;
}

.productsList .title {
  font-size: 24px;
  font-weight: 700;
  margin: 16px 0;
  position: relative;
}

.productsList .listProduct,
.cart .listProduct {
  height: calc(100% - 98px);
  position: relative;
  overflow-y: scroll;
}

.productsList .listProduct::-webkit-scrollbar,
.cart .listProduct::-webkit-scrollbar {
  width: 0;
}

.productsList .listProduct .productItem:first-child,
.cart .listProduct .productItem:first-child {
  padding-top: 0;
}

.productsList .listProduct .productItem,
.cart .listProduct .productItem {
  padding: 40px 0;
}

.productsList .listProduct .productItem .itemImage {
  border-radius: 30px;
  height: 380px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.productsList .listProduct .productItem .itemImage img {
  display: block;
  width: 100%;
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
  transform: rotate(-24deg);
  margin-left: -16px;
}

.productsList .listProduct .productItem .itemTitle {
  font-size: 20px;
  font-weight: 700;
  margin: 26px 0 20px;
  line-height: 1.5;
}

.productsList .listProduct .productItem .itemDescription {
  font-size: 13px;
  color: #777;
  line-height: 1.8;
  margin-bottom: 20px;
}

.productsList .listProduct .productItem .itemBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productsList .listProduct .productItem .itemBottom .itemPrice {
  font-size: 18px;
  font-weight: 700;
}

.productsList .listProduct .productItem .itemBottom .itemBtn {
  cursor: pointer;
  background-color: #f6c90e;
  font-weight: 700;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  height: 46px;
  min-width: 46px;
  padding: 16px 20px;
  border-radius: 100px;
  transition: all 0.25s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.productsList .listProduct .productItem .itemBottom .itemCheck {
  width: 46px;
  pointer-events: none;
  cursor: default;
  cursor: pointer;
  background-color: #f6c90e;
  font-weight: 700;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  height: 46px;
  min-width: 46px;
  padding: 16px 20px;
  border-radius: 100px;
  transition: all 0.25s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.productsList .listProduct .productItem .itemBottom .itemCheck .itemCheckCover {
  width: 20px;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translatex(-50%);
}

.show {
  animation: showCheck 0.9s linear;
}

.hidden {
  animation: hiddenCheck 0.9s linear;
}

.productsList
  .listProduct
  .productItem
  .itemBottom
  .itemCheck
  .itemCheckCover
  img {
  width: 20px;
  height: 20px;
}

@keyframes showCheck {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hiddenCheck {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 460px) {
  .productsList,
  .cart {
    width: 320px;
  }
}
